<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <div class="container">
    <h2>{{ product.name }}</h2>
    <p><strong>Description:</strong> {{ product.description }}</p>
    <p><strong>Price:</strong> KES {{ product.price }}</p>
    <p><strong>Quantity Available:</strong> {{ product.quantity }}</p>
    {% for image in product.images.split(',') %}
      <img src="{{ url_for('static', filename='uploads/' + image) }}" alt="Product Image">
    {% endfor %}
    <div class="row mt-3">
      <div class="col">
        <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="post">
          <input type="number" name="quantity" value="1" min="1" max="{{ product.quantity }}" class="form-control d-inline-block w-auto" placeholder="Quantity">
          <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>
      </div>
      <div class="col">
        <a href="{{ url_for('home') }}" class="btn btn-secondary">Back Home</a>
      </div>
    </div>
  </div>
</body>
</html>